/* HABIT ELEMENT  */

habit-element,
habit-create-button {
	position: relative;
	height: 35px;
	display: grid;
	grid-template-areas: 
		'status title'
		'status subTitle';
	--textColor: #aaa;
	grid-template-rows: 21px 14px;
	grid-template-columns: 35px auto;
}
habit-create-button {
	grid-template-areas: 'status title';
	grid-template-rows: 35px;
}

habit-element .statusHolder,
habit-create-button .statusHolder {
	position: relative;
	grid-area: status;
	cursor: pointer;

	top: 50%;
	left: 0px;
	transform: translateY(-50%);

	width: 22px;
	aspect-ratio: 1;
}


habit-element .title,
habit-create-button .title, {
	grid-area: title;
	font-size: 14px;
	color: var(--textColor);
	white-space: nowrap;
	text-overflow: ellipsis;
}

habit-element .subTitle {
	grid-area: subTitle;
	font-size: 10px;
	color: var(--textColor);
	opacity: .7;
	white-space: nowrap;
	text-overflow: ellipsis;
}
habit-element[curState="HABIT_SKIPPED"] .subTitle:before {
	content: "SKIPPED";
	background: rgba(255, 255, 255, 0.3);
	border-radius: 3px;
	padding: 3px 5px;
	margin-right: 5px;
}

habit-create-button {
	margin-top: 10px;
	grid-template-rows: 35px 0;
	grid-template-columns: 35px auto;
	opacity: .6;
}
habit-create-button:before {
	position: absolute;
	margin-top: -10px;
	left: 50%;
	content: '';
	width: 80px;
	height: 3px;
	border-radius: 2px;

	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.3);
}
habit-create-button .title {
	line-height: 35px;
}
habit-create-button .statusRing {
	position: relative;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	height: 22px;
	aspect-ratio: 1;
	border-radius: 100%;
	border: 1.5px dashed #777;
	line-height: 18px;
	text-align: center;
	color: #888;
	font-size: 14px;
}












habit-list {
	display: flex;
	flex-direction: column;
}



popup-element .popupOverlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.5);
	z-index: 10000;
	transition: opacity 0.3s;
}

popup-element[openState="false"] .popupOverlay {
	opacity: 0;
	pointer-events: none;
}

popup-element .popup {
	position: relative;
	top: 50vh;
	margin: auto;
	transform: translateY(-50%);

	display: flex;
	max-width: 90vw;
	padding: 30px;


	border-radius: var(--UIBorderRad);
	background: #fff;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
	transition: opacity 0.3s, transform 0.3s;
}
popup-element[openState="false"] .popup {
	opacity: 0;
	transform: translateY(-50%) scale(0.8);
}





@media screen and (max-width: 600px) {
	habit-element .title,
	habit-create-button .title {
		font-size: 16px;
		color: var(--textColor);
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	habit-element .subTitle {
		color: var(--textColor);
		opacity: .7;
	}
}






habit-type-selector label {
	margin-bottom: 10px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
habit-type-selector input {
	opacity: 0;
	cursor: pointer;
	margin-right: 10px;
}

habit-type-selector label:before {
	position: absolute;
	left: var(--horizontalPanelPadding);
	margin-top: 1px;

	content: '';

	width: 14px;
	aspect-ratio: 1;
	
	border-radius: 100%;

	border: 1px solid #aaa;
	background: rgb(15, 15, 17);
	pointer-events: none;

	transition: background .3s;
}

habit-type-selector input:checked + label:before {
	background: #aaa;
}



habit-type-selector label img {
	margin-top: -2.5px;
	height: 20px;
	width: auto;
	margin-right: 5px;
} 

habit-type-selector label a {
	position: relative;
	top: -2.5px;
	font-size: 15px;
}

habit-type-selector label .typeDescription {
	color: var(--secondaryTextColor);
}
habit-type-selector hr {
	border: none;
}



habit-value-type-selector {
	border: 1px solid blue;
}

habit-value-type-selector select {
	width: 100%;
	background: none;
	color: var(--textColor);
}

habit-value-type-selector .configSelector {
	width: 100%;
	border: 1px solid red;
}


habit-value-type-selector .configSelector .configPage {
	border: 1px solid green;
	transition: opacity .3s, margin-top .3s;
}

habit-value-type-selector .configSelector .configPage.hide {
	margin-top: -10px;
	pointer-events: none;
	opacity: 0;
}




.habitStateDial {
	position: relative;
	width: 100%;
	height: auto;
}

.habitStateDial .progressRing {
	position: relative;
	--ringRad: 30%;
	--dialThickness: 10px;
	--dialBackgroundPadding: 2px;
	margin: auto;
	width: calc(2 * var(--ringRad));
	aspect-ratio: 1;
	border-radius: 100%;
}

.habitStateDial .progressRing.backgroundTrack {
	border: calc(var(--dialThickness) + 2 * var(--dialBackgroundPadding)) solid #333;
}

.habitStateDial .progressRing.percVisualizer {
	width: calc(2 * (var(--ringRad) - var(--dialBackgroundPadding)));
	margin-top: calc(-2 * var(--ringRad) + var(--dialBackgroundPadding));
	border: calc(var(--dialThickness)) solid var(--habitCompletedColor);
	transition: border-color 0.3s;
}

.habitStateDial.habitSkipped .progressRing.percVisualizer {
	border-color: var(--habitSkippedColor);
}


.habitStateDial .progressRing.backgroundTrack {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.habitStateDial .progressRing.backgroundTrack > * {
	text-align: center;
}
.habitStateDial .progressRing.backgroundTrack .valueHolder {
	font-size: 25px;
	margin-bottom: 5px;
}
.habitStateDial .progressRing.backgroundTrack .valueSubTextHolder {
	font-size: 14px;
	color: #555;
}
























progress-dial, habit-progress-dial {
	--progressColor: #777;
	--progressBackColor: #333;
}

progress-dial svg,
habit-progress-dial svg {
	width: 100%;
	height: 100%;
	transform: rotate(-90deg);
}

progress-dial .progressBackground,
progress-dial .progressBar,
habit-progress-dial .progressBackground,
habit-progress-dial .progressBar {
  	fill: none;
  	stroke-width: 12;
}

progress-dial .progressBackground,
habit-progress-dial .progressBackground {
  	stroke: var(--progressBackColor);
}

progress-dial .progressBar,
habit-progress-dial .progressBar {
	transition: stroke .3s;
  	stroke: var(--progressColor);
  	stroke-dasharray: 0 100;
  	transition: stroke-dasharray 1s ease;
}





habit-progress-dial {
	--progressColor: #777;
	--progressBackColor: #333;
}

habit-progress-dial[fullyCompleted="true"] {
	--progressColor: var(--habitCompletedColor) !important;
}
habit-progress-dial[curState="HABIT_SKIPPED"] {
	--progressColor: var(--habitSkippedColor);
}










calendar-month {
	display: grid;
	grid-template-columns: repeat(7, calc(100% / 7));
	grid-template-rows: repeat(5, auto);
}
calendar-month .day {
	aspect-ratio: 1;
	text-align: center;
}
calendar-month .day.header {
	height: 30px;
	aspect-ratio: revert;

	line-height: 25px;
	color: var(--secondaryTextColor);
	font-size: 15px;
	border-bottom: 1px solid #333;
	margin: 0 2px;
}	


calendar-month .day.otherMonth {
	opacity: 0.2;
}

calendar-month .day .progessHolder {
	margin: auto;
	width: 80%;
	margin-top: 10%;
}
calendar-month .day .progessHolder .dateHolder {
	position: relative;
	color: var(--textColor);
	font-size: 12px;
	width: 100%;
	height: 0;
	margin-top: 50%;
	transform: translateY(-3px);
}
calendar-month .day.today .progessHolder .dateHolder {
	font-weight: bolder;
	color: #fff;
}

calendar-month .day .progessHolder habit-progress-dial {
	margin-top: calc((-80% + 1px) / 2); /*80 perc from progessholder and 1px from border*/
	float: left;
	margin-bottom: 0;
}














horizontal-infinite-scroller {
	position: relative;
	display: flex;
	width: 300%;
}

horizontal-infinite-scroller .page {
	padding: 0 30px;
	scroll-snap-align: center;
	width: 100vw;
}







/* ---- overwrite elements ---- */


button {
	border-radius: 5px;
	background: none;
	border: none;
	padding: 20px;
	font-size: 14px;
	color: var(--textColor);
}
button[filled] {
	background: #daf;
	color: #555;
}











