* {
	box-sizing: border-box;
}

:root {
	--screenMargin: 20px;
}

body {
	margin: 0;
	padding: 0;
	transition: opacity .7s;
	height: 100vh;
	background: #000;
}
body.loading {
	opacity: 0;
}

canvas {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.panel {
	position: absolute;

	bottom: -45vh;
	/*width: calc(100% - var(--screenMargin) * 2);*/
	width: calc(100%);


	padding: 20px;
	height: 50vh;
	
	/*border-radius: 5px;*/
	border-radius: 30px 30px 0 0;


	background: rgb(45, 45, 45);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, .05);
	z-index: 10;
}


/*
.panel {
	position: relative;

	width: calc(100% - var(--screenMargin) * 2);
	margin: var(--screenMargin);


	padding: 20px;
	height: 80px;
	
	border-radius: 5px;
	background: rgb(45, 45, 45);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, .05);
	z-index: 10;
}*/