* {
	box-sizing: border-box;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

:root {
	--screenMargin: 20px;
	--spaceBackground: rgb(0, 0, 15);

	--panelHeight: 330px;
	--UIBorderRad: 10px;
	--textColor: #ccc;
	/*--navBarHeight: 80px;*/
	--navBarHeight: 0px;


	--secondaryTextColor: #666;
}

body {
	margin: 0;
	padding: 0;
	transition: opacity .7s;
	height: 100vh;
	background: #000;
}
body.loading {
	opacity: 0;
}

canvas {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
}


.panelHolder {
	position: fixed;
	right: 0;
	top: 0;
	margin: 20px;
	width: calc(50%);
	max-width: 300px;

	height: auto;
	display: inline-table;
	z-index: 100;
}
.panel.tracked {
	position: fixed;
	transition: transform 0.3s, opacity 0.3s;
	transform: translate(0, -50%);
}
.panel.tracked.hide {
	pointer-events: none;
	transform: scale(0.95) translate(0, -50%);;
	opacity: 0;
}
.panel.tracked.attachedOnLeft {
	transform: translate(-100%, -50%);
}

.panel.tracked.attachedOnLeft.hide {
	transform: scale(0.95) translate(-100%, -50%);;
}


.panel {
	padding: 10px 20px;
	margin-bottom: 10px;
	
	border-radius: 10px;


	background: rgba(0, 0, 15, 0.7);
	backdrop-filter: blur(20px);

	border: 1px solid #223;
	box-shadow: 10px 10px 30px rgba(0, 0, 0, .05);
	z-index: 10;
}



.habitItem {
	position: relative;
	height: 35px;
	display: grid;
	grid-template-areas: 
		'status title'
		'status subTitle';
	--textColor: #aaa;
	grid-template-rows: 21px 14px;
	grid-template-columns: 35px auto;
}

.habitItem .statusHolder {
	grid-area: status;
}
.habitItem .statusRing {
	position: relative;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	border: 1.5px solid #777;
	height: 22px;
	aspect-ratio: 1;
	border-radius: 100%;
}

.habitItem .title {
	grid-area: title;
	font-size: 14px;
	color: var(--textColor);
	white-space: nowrap;
	text-overflow: ellipsis;
}

.habitItem .subTitle {
	grid-area: subTitle;
	font-size: 10px;
	color: var(--textColor);
	opacity: .7;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*
.panel {
	position: relative;

	width: calc(100% - var(--screenMargin) * 2);
	margin: var(--screenMargin);


	padding: 20px;
	height: 80px;
	
	border-radius: 5px;
	background: rgb(45, 45, 45);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, .05);
	z-index: 10;
}*/




#header {
	position: fixed;
	z-index: 1000;
	height: 90px;
	padding: 20px;
	width: 100vw;
	pointer-events: none;
}

#header .logo {
	position: relative;
	display: inline-flex;
	height: 100%;
}
#header .logo img {
	height: 100%;
	width: auto;
}

#header .logo .appName {
	position: relative;
	top: 50%;
	margin-left: 5px;
	margin-top: -1px;
	line-height: 0;
	height: 0px;

	color: #ccc;
	font-size: 18px;
}






.inputField {
	background: none;
	border: none;
	border-radius: 0;
	padding-left: 0;
}



@media screen and (max-width: 600px) {



	canvas {
		position: fixed;
		top: 0;
		width: 100vw;
		height: calc(100vh - var(--panelHeight) + 20px);
	}

	
	#header .logo {
		left: 50%;
		transform: translateX(-50%);
	}


	.navBar {
		position: fixed;
		bottom: 0;
		z-index: 100;
		backdrop-filter: blur(50px);

		width: 100vw;
		height: 80px;
		padding: 10px 30px;
		padding-bottom: 0;

		display: flex;
		flex-direction: row;
		justify-content: space-around;
		display: none;
	}

	.navBar .navItem {
		width: 25%;
		max-width: 90px;
		aspect-ratio: 1;
		padding-bottom: 20px;
	}

	.navBar .navItem.active {
		border-radius: 20px 20px 0 0;
		background: rgb(40, 40, 40);
	}







	.panelHolder {
		top: 100vh;
		transform: translateY(-100%);
		height: 20vh;
		width: calc(100% - 20px * 2);
		max-width: none;
		display: none !important;
	}
	.panel.tracked {
		display: none;
	}
}
