

habit-list-panel {
	position: fixed;
	bottom: 0;
	z-index: 100;
	/*background: rgba(30, 30, 30, .9);*/
	/*backdrop-filter: blur(50px);*/

	background: linear-gradient(180deg,rgba(17,17,19,.95) 10%,rgba(17,17,19,.75));
	backdrop-filter: blur(20px);

	width: 100vw;
	padding: 30px 0;
	padding-top: 25px;
	border-radius: 20px 20px 0 0;
	padding-bottom: var(--navBarHeight);

	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;  /* Firefox */
}
habit-list-panel::-webkit-scrollbar {
	display: none;
}


habit-list-panel .tabHolder {
	position: relative;
	display: flex;
	width: 300%;
	margin-bottom: 30px;
}
habit-list-panel .dayTab {
	padding: 0 30px;
	scroll-snap-align: center;
	width: 100vw;
}


habit-list-panel .dateHolder {
	font-size: 18px;
	color: #ccc;
	margin-bottom: 5px;
}

habit-list-panel habit-element {
	margin-bottom: 5px;
	--textColor: #ccc;
}
habit-list-panel habit-element {
	margin-top: 10px;
}

