.UIPanel {
	--horizontalPanelPadding: 30px;

	position: fixed;
	bottom: 0;
	z-index: 100;

	background: linear-gradient(180deg,rgba(17,17,19,.95) 10%,rgba(17,17,19,.75));
	backdrop-filter: blur(20px);

	width: 100vw;
	padding: var(--horizontalPanelPadding);
	padding-top: 25px;
	padding-bottom: calc(var(--navBarHeight) + 20px);

	border-radius: 20px 20px 0 0;
	color: var(--textColor);

	transition: opacity .3s, bottom .3s;
}


.UIPanel[openState="false"] {
	opacity: 0;
	bottom: -50px;
	pointer-events: none;
}

.UIPanel .panelTitle {
	font-size: 18px;
	color: #ccc;
	margin-bottom: 5px;	
}


/* ------ HABIT INFO PANEL ------ */
habit-info-panel {
	padding-bottom: 30px;

	display: grid;
	grid-template-areas: 
		"icon name editButton deleteButton"
		"description description description description"
		"stateDial stateDial stateDial stateDial"
		"buttonHolder buttonHolder buttonHolder buttonHolder"
		"calendarMonth calendarMonth calendarMonth calendarMonth"; /*TEMP FIXME*/
	grid-template-columns: 30px auto 30px 30px;
	grid-template-rows: 30px auto auto 50px;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
}


habit-info-panel .habitIconHolder,
habit-overview-panel .habitIconHolder {
	grid-area: icon;
	height: 100%;
	width: auto;
	padding: 3px;
}
habit-info-panel .habitNameHolder,
habit-overview-panel .habitNameHolder {
	grid-area: name;
	line-height: 30px;
}
habit-info-panel .habitDescriptionHolder {
	grid-area: description;
	margin-top: -5px;
	line-height: 20px;
	font-size: 15px;
	max-height: 40px;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--secondaryTextColor);
}

habit-info-panel .headerButton.editButton {
	grid-area: editButton;
	padding: 4px;
}

habit-info-panel .headerButton.deleteButton {
	grid-area: deleteButton;
}

habit-info-panel .headerButton {
	height: 100%;
	width: auto;
	padding: 3px;
	opacity: 0.7;
	margin-left: 10px;
	cursor: pointer;
}



habit-info-panel .buttonHolder {
	grid-area: buttonHolder;
	display: flex;
	justify-content: right;
}
habit-info-panel button.skipButton {
	display: inline;
	min-width: 100px;
}
habit-info-panel button.completeButton {
	display: inline;
}

habit-info-panel .habitStateDial {
	grid-area: stateDial;
	margin-bottom: 10px;
}













/* ------ HABIT LIST PANEL ------ */
habit-list-panel.UIPanel {
	overflow: auto;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;  /* Firefox */
	padding-left: 0;
	padding-right: 0;
	padding-top: 25px;
}



habit-list-panel::-webkit-scrollbar {
	display: none;
}


habit-list-panel horizontal-infinite-scroller {
	margin-bottom: 30px;
}




habit-list-panel habit-element {
	margin-bottom: 5px;
	--textColor: #ccc;
}
habit-list-panel habit-element {
	margin-top: 10px;
}



/* ------ HABIT EDIT PANEL ------ */
habit-edit-panel.UIPanel {
	display: grid;
	grid-template-areas: 
		"nameInput nameInput"
		"descriptionInput descriptionInput"
		"typeInput typeInput"
		"valueTypeInput valueTypeInput"
		"cancelButton saveButton";
	grid-template-columns: 50% 50%;
	grid-template-rows: 30px 30px auto 40px;

	padding-bottom: calc(var(--navBarHeight) + 40px);
}


habit-edit-panel .nameField {
	grid-area: nameInput;
	width: 100%;
}

habit-edit-panel .descriptionField {
	grid-area: descriptionInput;
	font-size: 15px;
	height: 30px;
	margin-top: -5px;
	color: var(--secondaryTextColor);
}

habit-edit-panel habit-type-selector {
	grid-area: typeInput;
	margin-top: 10px;
}


habit-edit-panel habit-value-type-selector {
	grid-area: valueTypeInput;
	margin-top: 10px;
}

habit-edit-panel button.saveButton {
	grid-area: saveButton;
	margin-top: 15px;
}
habit-edit-panel button.cancelButton {
	grid-area: cancelButton;
	margin-top: 15px;
}




/* ------ HABIT OVERVIEW PANEL ------ */
habit-overview-panel {
	display: grid;
	grid-template-areas: 
		"icon name"
		"calendarMonth calendarMonth ";
	grid-template-columns: 30px auto;
	grid-template-rows: 30px auto;
	grid-row-gap: 15px;
	grid-column-gap: 5px;
}

habit-overview-panel calendar-month {
	grid-area: calendarMonth;
}